---
import { pool } from "../../db/config";
import Layout from "../../layouts/Layout.astro";
import CardBlog from "../../components/CardBlog.astro";

interface Data {
    id: number;
    title: string;
    slug: string;
    content: string;
    video_url?: string;
    image_url?: string;
    excerpt?: string;
    tags?: string;
    status: "draft" | "published";
    views: number;
    meta_title?: string;
    meta_description?: string;
    meta_keywords?: string;
    created_at: Date;
    updated_at: Date;
}

const [rows] = (await pool.query("SELECT * FROM posts")) as any;

const posts = rows as Data[];
---

<Layout title="Blog | FarfetchDev" description="Mis Blogs">
    <main class="pt-16 py-12 px-6 md:px-56 min-h-screen">
        <h2
            class="text-3xl p-2 font-bold tracking-tighter sm:text-4xl md:text-5xl mb-4 bg-clip-text text-transparent bg-gradient-to-r from-indigo-400 to-gray-600"
        >
            Blogs
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {
                posts.map((post) => {
                    if (post.status === "published") {
                        return (
                            <CardBlog
                                title={post.title}
                                created_at={post.created_at}
                                image_url={post.image_url}
                                slug={post.slug}
                                status={post.status}
                                excerpt={post.excerpt}
                                tags={post.tags}
                            />
                        );
                    }
                })
            }
        </div>
    </main>
</Layout>
